#wrapper {
  margin: auto;
}

.searches {
  background-color: #1f776c;
  margin: 5px;
  border-radius: 4px;
  border-color: #1f776c; 
  color: #fff;
}

#new-term {
  float: right;
  margin: 10px;
}

#add-term {
  background-color: #1f776c;
  border-radius: 4px;
  border-color: #1f776c; 
  color: #fff;
}